$color:black;
body{
    background-color: $color;
}
div{
    width:330px;
    height:500px;
    overflow:auto;
    text-align: center;
    line-height: 2;
}
.logo{
    margin-top: 50px;
    width: 200px;
}
.usr{
    margin-top: 30px;
    width: 70px;
}
h2{
    color: #DB3EB1;
    font-family: 'Broadway Regular';
}
input{
    font-family: 'Broadway Regular';
    border-radius: 15px;
    width: 200px;
    height: 20px;
}
.btnInicioSesion{
    margin-top: 15px;
    font-family: 'Broadway Regular';
    width: 200px;
    height: 30px;
    border-radius: 15px;
    background-color: #41B6E6;
}
.btnInicioSesion:hover{
    background-color: #DB3EB1;
}