$color:black;
body{
    background-color: $color;
}
div{
    width:330px;
    height:500px;
    overflow:auto;
    text-align: center;
    line-height: 4;
}
img{
    margin-top: 50px;
    width: 200px;
}
.btnReservaMesa, .btnContacto{
    margin-top: 50px;
    font-family: 'Broadway Regular';
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: #41B6E6;
}
.btnReservaMesa:hover, .btnContacto:hover{
    background-color: #DB3EB1;
}